*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
.section{
  width:100%;
  min-height: 100vh;
  background-color: #ddd;
}
.image-section{
  float:right;
  width:40%
  }
  .container{
    width:75%;
    display: block;
    margin:auto;
    padding-top:100px;
    }
    .social{
      width:85%;
    display: block;
    margin:auto;
    padding-top:0px;
    float:right;
   }
   .content-section{
    float:left;
    width:55%;
    }.image-section img{
      width:100%;
      height:auto;
      }
   .title{
        text-transform:uppercase ;
        font-size: 28px;
        }
     .content h3{
       margin-top:20px;
       color: #5d5d5d;
       font-size: 19px;
      }
      .content p{
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 1.5;
        }
        .button{
          margin-top:30px;
          }
        .button a{
	background: color #3d3d3d; 
	padding:12px 40px;
	text-decoration:none ;
	color: #a52a2a;
	font:size 50px;
	letter-spacing:  1.5px;
  }
  .button a:hover{
    background-color: #a52a2a;
    color:#fff;
  }
 .content.button.social{
    margin-top: 40px 40px;
    }
    button.social i:hover{
      color: #3d3d3d;
    }
    .content-section{
      float: none;
      width: 100%;
      display: block;
      margin: auto;
    }
    .image-section{
      float: none;
      width: 100%;
      display: block;
      margin: auto;
    }
    .image-section img{
      width: 25%;
      height:auto;
      display:block;
      margin: auto;
      }
      .content-section.title{
        text-align:center ;
        font-size:19px;
        }
        .content-section.content.button{
          text-align: center;
          }
          .content-section.content.button a{
            padding: 9px 30px;
            }
            .content-section.social{
            text-align: align center;
            }
            
      



          
          




    
  
  
  

