/** style header **/

header{
  width: 100%;
  height: 15vh;
   background-color: rgb(28, 177, 207);
  }
nav{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.logo{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
}
Span{
font-size: 40px;
font-weight: 600;
}
.r{
color: white;
}
.e{
color: indigo;
}
.b{
color: blue;
}
.s{
color: green;
}
.y{
color: orange;
}
.mid{
  margin-top: 100px;
}

.mid a{
  text-decoration: none;
  color: rgb(13, 12, 12);
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}
.icon img{
width: 100px;
}

.left{
  flex-basis: 50%;

}

  <!--header end-->

  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: sans-serif;
  }
.contact{
  min-height: 80vh;
  background-color: #e8f0fe;
  padding: 50px;
  text-align: center;

}
.container{
  max-width: 800px;
  margin: 60px auto;
}
.container h2{
  font-size: 36px;
  margin-bottom: 70px;
  color: #333;
  position: relative;
 
}
.contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
grid-gap: 30px;

}
.contact-form{
  text-align: center;
}
.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.form-group{
  margin-bottom: 20px;
}
input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}
.input:focus,
textarea:focus{
  outline: none;
box-shadow: 0 0 8px #bbb;
}
button{
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
}
button:hover{
  background-color: #cc3a8f;
}
.contact-info{
  text-align: left;
}
.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.contact-info p{
margin-bottom: 10px;
color: #555;
}
.contact-info i{
  color: #4caf50;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .container{
      padding: 20px;
  }
  .contact-wrapper{
  grid-template-columns: 1fr;
}
}



/*****footer style ****/
.footer {
background: #000;
color: #8a8a8a;
font-size: 14px;
padding: 60px 0 20px;
}
.footer p {
color: #8a8a8a;
}
.footer h3 {
color: #ffffff;
margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
flex-basis: 12%;
text-align: center;
}
ul {
list-style-type: none;
}
.footer hr {
border: none;
background: #b5b5b5;
height: 1px;
margin: 20px 0;
}
.copyright {
text-align: center;
}
.row {
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.row ul{
display: inline-block;
}
.row a{
text-decoration: none;
color: #8a8a8a;
}
.social-media li{
display: inline;
font-size: 30px;
}
.footer-col-3 li{
padding-bottom: 10px;
}
.footer-col-4  li{
padding-bottom: 10px;
}
.container1 a:hover{
color: white;
}
