header{
    width: 100%;
    height: 15vh;
    background: rgb(70, 181, 224);
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.logo{
    font-size: 50px;
    font-weight: bold;
}
Span{
  font-size: 40px;
  font-weight: 600;
}
.r{
  color: white;
}
.e{
  color: indigo;
}
.b{
  color: blue;
}
.s{
  color: green;
}
.y{
  color: orange;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
label {
  margin-top: 10px;
}
input[type="text"],
input[type="number"],
select,
input[type="tel"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
input[type="tel"]:focus {
  outline: none;
  border-color: #007bff;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
iframe {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}
/*****footer style ****/
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row ul{
  display: inline-block;
}
.row a{
  text-decoration: none;
  color: #8a8a8a;
}
.social-media li{
  display: inline;
  font-size: 30px;
}
.footer-col-3 li{
  padding-bottom: 10px;
}
.footer-col-4  li{
  padding-bottom: 10px;
}
.container1 a:hover{
  color: white;
}
